<Files ~ "^\.(htaccess)$">
deny from all
</Files>

Options -MultiViews
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?param=$1 [L]
#php_flag register_globals off
#php_flag magic_quotes_gpc off
